body {
    margin: 0px;
    background-color: rgba(92, 245, 16, 0.56);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}
button[disabled] {
    cursor:default;
}

.home-view-btn {
    width: 100%;
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 24px;
    border-width: thick;
    border-color: darkgoldenrod;
    text-align: center;
    display: inline-block;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    margin-top: 10px;
    transition: all 250ms ease;
}
.home-view-btn[disabled] {
    background-color: gray;
}

.home-view-btn:hover {
    transform: scale(1.05);
    background-color: green;
    text-shadow: 0px 0px 5px white;
    color: white;
}

.home-view-btn-container {
    display: grid;
}

div div h1 {
    font-size: 3em;
    font-weight: 900;
    text-shadow: 6px 10px 8px #0A0;
    text-transform: uppercase;
}

.home-view-game-display-box {
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 60px 60px 60px 60px;
    color: darkgreen;
}

.instructions-view{
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 60px 60px 60px 60px;
    color: darkgreen;
}

.outerDiv {
    height: auto;
    max-height: available;
    text-align: center;
    /*font-weight: bold;*/
}

#hidden {
    display: none
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.resultsViewDiv {
    background-color: whitesmoke;
    border-style: solid;
    border-width: thick;
    border-color: yellowgreen;
}

.errorMessage {
    color: red;
}

/*All input fields*/
input[type = text], input[type = password] {
    width: 75%;
    max-width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.squareButton {
    background-color: rgb(54, 192, 54);;
    padding: 8px;
    color: white;
    margin-left: 13px;
    height: 42px;
    width: 97px;
    font-size: 13px;
}

.removeButton {
    background-color:darkred;
    width: 30px;
    height: 30px;
    color: white;
    padding: 0px;
    margin-right: 10px;
}

.gameViewWord {
    width: 370px;
    height: 250px;
    background-color:whitesmoke;
    text-align: center;
    display: inline-block;
}

.gameActualWord {
    font-weight: bold;
    font-size: xxx-large;
    margin-top: 25%;
}

.signUpButton {
    background-color: transparent;
    color: blue;
    border: none;
    text-decoration: underline;
    font-size: 1.5em;
}

.signUpButton:hover {
    color: purple;
}